
#content {
  margin: 5% 5% 0 5%;
  font-family: sans-serif;
  text-align: right;
  font-size: 170%;
  line-height: 250%;
  width: 70%;
}

#content h1 {
  font-family: haunt;
  font-size: 400%;
  line-height: 150%;
}
