@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}
